<html>
<table style="max-width:600px; width:100%; border-collapse: collapse;">
  <tr style="padding: 30x 30px 0 0; color: #fefefe; background:#2d2f55; heigth: 75px;">
    <td style="padding: 6px 0 25px 30px">
      <svg width="77" height="57" viewBox="0 0 77 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M49.4384 15.6875L51.2727 12.5104C53.0782 17.9536 55.241 20.2151 61.4561 22.6259L55.7302 25.9621M49.4384 15.6875C51.4062 20.1908 53.7863 22.0431 58.3707 24.4227M49.4384 15.6875L47.9231 18.312M47.9231 18.312C49.6814 22.4058 52.0051 23.6893 55.7302 25.9621M47.9231 18.312L46.2336 21.2383M55.7302 25.9621L52.8921 27.5757M46.2336 21.2383C47.2659 24.4465 49.3314 25.4399 52.8921 27.5757M46.2336 21.2383L44.5735 24.1137M52.8921 27.5757L50.0054 29.2735M44.5735 24.1137C45.4905 26.816 47.2661 27.5866 50.0054 29.2735M44.5735 24.1137L42.9785 26.8764M50.0054 29.2735L47.1673 30.8871M42.9785 26.8764C43.5148 29.2262 44.9794 29.7328 47.1673 30.8871M42.9785 26.8764L42.0214 28.534L41.1442 30.0535M47.1673 30.8871L44.9392 32.2446L43.9668 32.7401M41.1442 30.0535C41.5377 31.5011 42.4698 31.8566 43.9668 32.7401M41.1442 30.0535L40.3466 31.4349L39.5491 32.8162M43.9668 32.7401L42.3982 33.7244L41.2127 34.4023M39.5491 32.8162C39.726 33.6443 40.2479 33.8839 41.2127 34.4023M39.5491 32.8162L38.9909 33.7832L38.4326 34.7501M41.2127 34.4023L40.0908 35.0681L39.2219 35.5741M38.4326 34.7501C38.4882 35.2804 38.6764 35.4485 39.2219 35.5741M38.4326 34.7501L38.0338 35.4408L37.3161 36.684L38.426 36.0376L39.2219 35.5741"
          stroke="#7172AC" stroke-width="0.5" stroke-linecap="round" />
        <path
          d="M37.1218 12.2941L37.1218 8.62552C41.407 12.4368 44.4108 13.3139 50.9987 12.2941L47.708 18.0463M37.1218 12.2941C41.0776 15.2102 44.0651 15.6243 49.2251 15.3929M37.1218 12.2941L37.1218 15.3247M37.1218 15.3247C40.6914 17.9909 43.3456 17.9406 47.708 18.0463M37.1218 15.3247L37.1218 18.7036M47.708 18.0463L46.057 20.8628M37.1218 18.7036C39.6198 20.9659 41.9054 20.7935 46.057 20.8628M37.1218 18.7036L37.1218 22.0239M46.057 20.8628L44.4059 23.7764M37.1218 22.0239C39.267 23.9057 41.1901 23.6852 44.4059 23.7764M37.1218 22.0239L37.1218 25.214M44.4059 23.7764L42.7548 26.5929M37.1218 25.214C38.7612 26.9808 40.2828 26.6873 42.7548 26.5929M37.1218 25.214L37.1218 27.128L37.1218 28.8826M42.7548 26.5929L41.504 28.8826L40.9095 29.7979M37.1218 28.8826C38.1864 29.9395 39.1714 29.7813 40.9095 29.7979M37.1218 28.8826L37.1218 30.4776L37.1218 32.0727M40.9095 29.7979L40.0433 31.4347L39.3556 32.6145M37.1218 32.0727C37.6891 32.7013 38.2609 32.6479 39.3556 32.6145M37.1218 32.0727L37.1218 33.1892L37.1218 34.3057M39.3556 32.6145L38.7169 33.7521L38.2174 34.6247M37.1218 34.3057C37.4352 34.7372 37.6822 34.7886 38.2174 34.6247M37.1218 34.3057L37.1218 35.1033L37.1218 36.5388L37.7598 35.4241L38.2174 34.6247"
          stroke="#7172AC" stroke-width="0.5" stroke-linecap="round" />
        <path
          d="M58.3125 24.8338L61.4896 22.9995C60.3316 28.6162 61.0739 31.6561 65.251 36.8515L58.6241 36.8777M58.3125 24.8338C57.765 29.7176 58.9001 32.5119 61.6805 36.8649M58.3125 24.8338L55.688 26.349M55.688 26.349C55.1638 30.7735 56.5344 33.0469 58.6241 36.8777M55.688 26.349L52.7617 28.0385M58.6241 36.8777L55.3594 36.8561M52.7617 28.0385C52.0516 31.333 53.3437 33.2261 55.3594 36.8561M52.7617 28.0385L49.8863 29.6986M55.3594 36.8561L52.0106 36.8831M49.8863 29.6986C49.3292 32.4973 50.4817 34.0526 52.0106 36.8831M49.8863 29.6986L47.1236 31.2937M52.0106 36.8831L48.7459 36.8615M47.1236 31.2937C46.4132 33.5968 47.4282 34.7678 48.7459 36.8615M47.1236 31.2937L45.466 32.2507L43.9465 33.128M48.7459 36.8615L46.1376 36.9231L45.0476 36.8659M43.9465 33.128C43.5635 34.5784 44.193 35.3523 45.0476 36.8659M43.9465 33.128L42.5651 33.9255L41.1838 34.723M45.0476 36.8659L43.1971 36.9341L41.8315 36.9284M41.1838 34.723C40.923 35.5286 41.2551 35.9971 41.8315 36.9284M41.1838 34.723L40.2168 35.2813L39.2499 35.8396M41.8315 36.9284L40.5269 36.9441L39.5214 36.9478M39.2499 35.8396C39.0329 36.3266 39.1119 36.5663 39.5214 36.9478M39.2499 35.8396L38.5592 36.2383L37.316 36.9561L38.6004 36.9513L39.5214 36.9478"
          stroke="#7172AC" stroke-width="0.5" stroke-linecap="round" />
        <path
          d="M14.592 56.48C12.48 56.48 10.64 56.08 9.072 55.28C7.536 54.48 6.336 53.328 5.472 51.824C4.64 50.288 4.224 48.48 4.224 46.4V30.56C4.224 28.448 4.64 26.64 5.472 25.136C6.336 23.632 7.536 22.48 9.072 21.68C10.64 20.88 12.48 20.48 14.592 20.48C16.704 20.48 18.528 20.896 20.064 21.728C21.6 22.528 22.784 23.68 23.616 25.184C24.448 26.688 24.864 28.48 24.864 30.56H20.544C20.544 28.576 20.016 27.056 18.96 26C17.936 24.912 16.48 24.368 14.592 24.368C12.704 24.368 11.216 24.896 10.128 25.952C9.072 27.008 8.544 28.528 8.544 30.512V46.4C8.544 48.384 9.072 49.92 10.128 51.008C11.216 52.096 12.704 52.64 14.592 52.64C16.48 52.64 17.936 52.096 18.96 51.008C20.016 49.92 20.544 48.384 20.544 46.4V42.08H13.44V38.144H24.864V46.4C24.864 48.448 24.448 50.24 23.616 51.776C22.784 53.28 21.6 54.448 20.064 55.28C18.528 56.08 16.704 56.48 14.592 56.48ZM33.1973 56V20.96H44.4773C46.6533 20.96 48.5413 21.392 50.1413 22.256C51.7413 23.088 52.9733 24.272 53.8373 25.808C54.7333 27.344 55.1813 29.168 55.1813 31.28C55.1813 33.36 54.7333 35.184 53.8373 36.752C52.9733 38.288 51.7413 39.488 50.1413 40.352C48.5413 41.184 46.6533 41.6 44.4773 41.6H37.5173V56H33.1973ZM37.5173 37.712H44.4773C46.3653 37.712 47.8693 37.136 48.9893 35.984C50.1413 34.8 50.7173 33.232 50.7173 31.28C50.7173 29.296 50.1413 27.728 48.9893 26.576C47.8693 25.424 46.3653 24.848 44.4773 24.848H37.5173V37.712Z"
          fill="white" />
      </svg>
    </td>
    <td style="padding: 6px 45px 6px 0; font-family: Courier; font-size:42pt">Golden Pixel</td>
  </tr>
  <tr style="color: #fefefe">
    <td colspan="2" style="padding: 30px; color:#2d2f55; text-align: center; font-size: 30pt; font-family:Tahoma">Новая
      заявка
      <table border=1
        style="border-collapse: collapse; max-width: 540px; width: 540px; font-size: 16pt; text-align: left">
        <tr style="">
          <td>Id</td>
          <td>{{Id}}</td>
        </tr>
        <tr>
          <td>Заявитель</td>
          <td>{{Applicator}}</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>{{Email}}/td>
        </tr>
        <tr>
          <td>Описание</td>
          <td>{{Description}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="heigth: 75px;">
    <table
      style="padding: 30x 30px 0 30px; color: #fefefe; background:#2d2f55; heigth: 75px; max-width:600px; width:100%; border-collapse: collapse;">
      <tr>
        <table
          style="padding: 30x 30px 0 30px; color: #fefefe; background:#2d2f55; heigth: 75px; max-width:600px; width:100%; border-collapse: collapse;">
          <tr>
            <td align=left style="vertical-align: center; padding: 15px 0 0px 30px;">
              <a style="color: #fefefe; text-decoration:none; font-family: Tahoma" href="ya.ru">www.golden-pixel.kz</a>
            </td>
            <td rowspan="2" align=right style="vertical-align: center; padding: 0 30px 0 0"><a href="ya.ru">
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.03305 41.0193L3.84762 30.7899C2.11704 27.7968 1.1947 24.3965 1.20421 20.9204C1.20421 10.0279 10.1043 1.17188 21.0393 1.17188C26.3452 1.17188 31.3277 3.22723 35.0647 6.95908C38.8111 10.6909 40.8745 15.6541 40.865 20.9298C40.865 31.8223 31.9648 40.6783 21.0298 40.6783H21.0203C17.7018 40.6783 14.4403 39.8448 11.5402 38.2725L1.03305 41.0193ZM12.0346 34.6922L12.6337 35.0521C15.163 36.5487 18.0631 37.3348 21.0203 37.3443H21.0298C30.1106 37.3443 37.5084 29.9848 37.5084 20.9298C37.5084 16.5444 35.7968 12.4242 32.6875 9.31753C29.5781 6.21082 25.4324 4.50591 21.0298 4.50591C11.9395 4.50591 4.54176 11.8654 4.54176 20.9204C4.54176 24.0176 5.40705 27.0391 7.06156 29.6533L7.45142 30.2784L5.7874 36.3308L12.0346 34.6922Z"
                    fill="black" fill-opacity="0.24" />
                  <path
                    d="M1.93283 39.9632L4.61856 30.2069C2.9658 27.3539 2.09247 24.108 2.09247 20.7966C2.09247 10.4136 10.5816 1.9668 20.9959 1.9668C26.0574 1.9668 30.7997 3.93116 34.3682 7.48573C37.9366 11.0403 39.8993 15.7735 39.8993 20.806C39.8993 31.1891 31.4101 39.6358 20.9959 39.6358H20.9865C17.8218 39.6358 14.7135 38.8407 11.9527 37.3441L1.93283 39.9632Z"
                    fill="url(#paint0_linear_38_309)" />
                  <path
                    d="M1.24731 40.6462L4.02695 30.5438C2.31785 27.5879 1.40696 24.2298 1.41635 20.7968C1.41635 10.0396 10.206 1.29346 21.0053 1.29346C26.2452 1.29346 31.166 3.3233 34.8565 7.00882C38.5564 10.6943 40.5942 15.5959 40.5848 20.8061C40.5848 31.5634 31.7951 40.3095 20.9959 40.3095H20.9865C17.7091 40.3095 14.4881 39.4863 11.624 37.9335L1.24731 40.6462ZM12.1123 34.3977L12.7039 34.7531C15.2018 36.2311 18.066 37.0075 20.9865 37.0168H20.9959C29.964 37.0168 37.2699 29.7487 37.2699 20.8061C37.2699 16.4752 35.5796 12.4061 32.5088 9.338C29.4381 6.26985 25.3437 4.58611 20.9959 4.58611C12.0184 4.58611 4.71247 11.8543 4.71247 20.7968C4.71247 23.8556 5.56702 26.8396 7.20099 29.4213L7.58601 30.0387L5.94264 36.0159L12.1123 34.3977Z"
                    fill="white" />
                  <path
                    d="M16.1033 12.6305C15.7371 11.8167 15.3521 11.798 15.0046 11.7887C14.7229 11.7793 14.3942 11.7793 14.0656 11.7793C13.7369 11.7793 13.211 11.9009 12.7603 12.3873C12.3095 12.8737 11.0512 14.0523 11.0512 16.4564C11.0512 18.851 12.8072 21.1708 13.0514 21.4982C13.2955 21.8256 16.4414 26.9049 21.4091 28.8599C25.5409 30.4875 26.3861 30.1601 27.2782 30.076C28.1797 29.9918 30.1705 28.8973 30.5837 27.7561C30.9875 26.6149 30.9875 25.6421 30.8655 25.4363C30.7434 25.2305 30.4147 25.1089 29.9264 24.8657C29.4381 24.6225 27.0341 23.4439 26.5833 23.2755C26.1326 23.1071 25.8039 23.0323 25.4846 23.5187C25.1559 24.0051 24.2169 25.0996 23.9351 25.427C23.6534 25.7544 23.3623 25.7918 22.874 25.5486C22.3857 25.3054 20.8081 24.7909 18.9393 23.1258C17.4838 21.835 16.4977 20.2354 16.216 19.749C15.9343 19.2626 16.1879 19.0007 16.432 18.7575C16.648 18.5423 16.9203 18.1869 17.1645 17.9062C17.4086 17.6256 17.4932 17.4198 17.6528 17.0924C17.8124 16.765 17.7373 16.4844 17.6152 16.2412C17.4932 15.998 16.5353 13.594 16.1033 12.6305Z"
                    fill="white" />
                  <defs>
                    <linearGradient id="paint0_linear_38_309" x1="4861.49" y1="9766.36" x2="4861.49" y2="1.42085"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#20B038" />
                      <stop offset="1" stop-color="#60D66A" />
                    </linearGradient>
                  </defs>
                </svg></a>

              </a> <a href="ya.ru"><svg style="padding: 0 15px" width="42" height="42" viewBox="0 0 42 42" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_38_304)">
                    <path
                      d="M21 0C9.40193 0 0 9.40193 0 21C0 32.5981 9.40193 42 21 42C32.5981 42 42 32.5981 42 21C42 9.40193 32.5981 0 21 0Z"
                      fill="#40B3E0" />
                    <path
                      d="M31.2182 12.0801L27.4674 30.9911C27.4674 30.9911 26.9429 32.3026 25.5003 31.6731L16.8447 25.0371L13.6973 23.5159L8.39911 21.7323C8.39911 21.7323 7.58602 21.4438 7.50727 20.8143C7.42868 20.1848 8.42536 19.8439 8.42536 19.8439L29.4871 11.5817C29.4871 11.5817 31.2182 10.8211 31.2182 12.0801Z"
                      fill="white" />
                    <path
                      d="M16.1795 30.7788C16.1795 30.7788 15.9268 30.7551 15.612 29.7583C15.2973 28.7616 13.6974 23.5159 13.6974 23.5159L26.4183 15.4374C26.4183 15.4374 27.1528 14.9915 27.1266 15.4374C27.1266 15.4374 27.2576 15.516 26.8642 15.8832C26.4708 16.2505 16.871 24.8797 16.871 24.8797"
                      fill="#D2E5F1" />
                    <path
                      d="M20.1635 27.5814L16.7399 30.7028C16.7399 30.7028 16.4723 30.9059 16.1794 30.7786L16.835 24.9805"
                      fill="#B5CFE4" />
                  </g>
                  <defs>
                    <clipPath id="clip0_38_304">
                      <rect width="42" height="42" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
            </td>
          </tr>
          <tr>
            <td align=left style="vertical-align: center; padding: 5px 0 15px 30px;"><a
                style="color: #fefefe; text-decoration:none; font-family: Tahoma" href="ya.ru">почта@четотам.ru</a></td>
          </tr>
        </table>
      </tr>
    </table>
  </tr>
</table>
</html>
