<html style="display: table;margin: auto;">
<body style="display: table-cell;vertical-align: middle;">
    <table style="max-width:600px; width:100%; border-collapse: collapse;">
        <tr style="padding: 30x 30px 0 0; color: #fefefe; background:#603935; heigth: 75px;">
            <td style="padding: 6px 0 25px 30px">
                <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 2.5H48.5V48.5H2.5V2.5Z" fill="#FFE34E" stroke="#565656" stroke-width="5"/>
                    <rect width="51" height="51" fill="url(#paint0_radial_144_82)"/>
                    <rect width="51" height="51" fill="url(#paint1_linear_144_82)" fill-opacity="0.2"/>
                    <defs>
                    <radialGradient id="paint0_radial_144_82" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(15 15) rotate(52.8533) scale(20.7002)">
                    <stop stop-color="#FFFEFE" stop-opacity="0.35"/>
                    <stop offset="1" stop-color="#FFFEFE" stop-opacity="0"/>
                    </radialGradient>
                    <linearGradient id="paint1_linear_144_82" x1="0" y1="0" x2="51" y2="51" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0.46"/>
                    <stop offset="1" stop-opacity="0.58"/>
                    </linearGradient>
                    </defs>
                </svg>
            </td>
            <td style="padding: 6px 45px 6px 0; font-family: Courier; font-size:42pt">Golden Pixel</td>
        </tr>
        <tr style="color: #fefefe">
            <td colspan="2" style="padding: 30px; color:#000000; text-align: center; font-size: 30pt; font-family:Tahoma">
                Ваша заявка принята!
                <p style="text-indent: 30px;text-align:left; font-size: 16pt">Здравствуйте, {{RequesterName}}!</p>
                <p style="text-indent: 30px;text-align:left; font-size: 16pt">Срок рассмотрения около двух суток, после
                    чего мы обязательно свяжемся с Вами!</p>
                <p style="text-indent: 30px;text-align:left; font-size: 16pt">Если остались вопросы или Вы хотите
                    дополнить заявки, пишите на почту
                    request@golden-pixel.kz</p>
                <p style="text-indent: 30px;text-align:left; font-size: 16pt">С уважением, команда Golden pixel.</p>
            </td>
        </tr>
        <tr style="heigth: 75px;">
                    <table
                style="padding: 30x 30px 0 30px; color: #fefefe; background:#603935; heigth: 75px; max-width:600px; width:100%; border-collapse: collapse;">
                <tr>
                    <td align=left style="vertical-align: center; padding: 15px 0 0px 30px;">
                        <a style="color: #fefefe; text-decoration:none; font-family: Tahoma" href="ya.ru">golden-pixel.kz</a>
                    </td>
                    <td rowspan="2" align=right style="vertical-align: center; padding: 0 30px 0 0"><a href="ya.ru">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.03305 41.0193L3.84762 30.7899C2.11704 27.7968 1.1947 24.3965 1.20421 20.9204C1.20421 10.0279 10.1043 1.17188 21.0393 1.17188C26.3452 1.17188 31.3277 3.22723 35.0647 6.95908C38.8111 10.6909 40.8745 15.6541 40.865 20.9298C40.865 31.8223 31.9648 40.6783 21.0298 40.6783H21.0203C17.7018 40.6783 14.4403 39.8448 11.5402 38.2725L1.03305 41.0193ZM12.0346 34.6922L12.6337 35.0521C15.163 36.5487 18.0631 37.3348 21.0203 37.3443H21.0298C30.1106 37.3443 37.5084 29.9848 37.5084 20.9298C37.5084 16.5444 35.7968 12.4242 32.6875 9.31753C29.5781 6.21082 25.4324 4.50591 21.0298 4.50591C11.9395 4.50591 4.54176 11.8654 4.54176 20.9204C4.54176 24.0176 5.40705 27.0391 7.06156 29.6533L7.45142 30.2784L5.7874 36.3308L12.0346 34.6922Z"
                                    fill="black" fill-opacity="0.24" />
                                <path
                                    d="M1.93283 39.9632L4.61856 30.2069C2.9658 27.3539 2.09247 24.108 2.09247 20.7966C2.09247 10.4136 10.5816 1.9668 20.9959 1.9668C26.0574 1.9668 30.7997 3.93116 34.3682 7.48573C37.9366 11.0403 39.8993 15.7735 39.8993 20.806C39.8993 31.1891 31.4101 39.6358 20.9959 39.6358H20.9865C17.8218 39.6358 14.7135 38.8407 11.9527 37.3441L1.93283 39.9632Z"
                                    fill="url(#paint0_linear_38_309)" />
                                <path
                                    d="M1.24731 40.6462L4.02695 30.5438C2.31785 27.5879 1.40696 24.2298 1.41635 20.7968C1.41635 10.0396 10.206 1.29346 21.0053 1.29346C26.2452 1.29346 31.166 3.3233 34.8565 7.00882C38.5564 10.6943 40.5942 15.5959 40.5848 20.8061C40.5848 31.5634 31.7951 40.3095 20.9959 40.3095H20.9865C17.7091 40.3095 14.4881 39.4863 11.624 37.9335L1.24731 40.6462ZM12.1123 34.3977L12.7039 34.7531C15.2018 36.2311 18.066 37.0075 20.9865 37.0168H20.9959C29.964 37.0168 37.2699 29.7487 37.2699 20.8061C37.2699 16.4752 35.5796 12.4061 32.5088 9.338C29.4381 6.26985 25.3437 4.58611 20.9959 4.58611C12.0184 4.58611 4.71247 11.8543 4.71247 20.7968C4.71247 23.8556 5.56702 26.8396 7.20099 29.4213L7.58601 30.0387L5.94264 36.0159L12.1123 34.3977Z"
                                    fill="white" />
                                <path
                                    d="M16.1033 12.6305C15.7371 11.8167 15.3521 11.798 15.0046 11.7887C14.7229 11.7793 14.3942 11.7793 14.0656 11.7793C13.7369 11.7793 13.211 11.9009 12.7603 12.3873C12.3095 12.8737 11.0512 14.0523 11.0512 16.4564C11.0512 18.851 12.8072 21.1708 13.0514 21.4982C13.2955 21.8256 16.4414 26.9049 21.4091 28.8599C25.5409 30.4875 26.3861 30.1601 27.2782 30.076C28.1797 29.9918 30.1705 28.8973 30.5837 27.7561C30.9875 26.6149 30.9875 25.6421 30.8655 25.4363C30.7434 25.2305 30.4147 25.1089 29.9264 24.8657C29.4381 24.6225 27.0341 23.4439 26.5833 23.2755C26.1326 23.1071 25.8039 23.0323 25.4846 23.5187C25.1559 24.0051 24.2169 25.0996 23.9351 25.427C23.6534 25.7544 23.3623 25.7918 22.874 25.5486C22.3857 25.3054 20.8081 24.7909 18.9393 23.1258C17.4838 21.835 16.4977 20.2354 16.216 19.749C15.9343 19.2626 16.1879 19.0007 16.432 18.7575C16.648 18.5423 16.9203 18.1869 17.1645 17.9062C17.4086 17.6256 17.4932 17.4198 17.6528 17.0924C17.8124 16.765 17.7373 16.4844 17.6152 16.2412C17.4932 15.998 16.5353 13.594 16.1033 12.6305Z"
                                    fill="white" />
                                <defs>
                                    <linearGradient id="paint0_linear_38_309" x1="4861.49" y1="9766.36" x2="4861.49"
                                        y2="1.42085" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#20B038" />
                                        <stop offset="1" stop-color="#60D66A" />
                                    </linearGradient>
                                </defs>
                            </svg></a>

                        </a> <a href="ya.ru"><svg style="padding: 0 15px" width="42" height="42" viewBox="0 0 42 42"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_38_304)">
                                    <path
                                        d="M21 0C9.40193 0 0 9.40193 0 21C0 32.5981 9.40193 42 21 42C32.5981 42 42 32.5981 42 21C42 9.40193 32.5981 0 21 0Z"
                                        fill="#40B3E0" />
                                    <path
                                        d="M31.2182 12.0801L27.4674 30.9911C27.4674 30.9911 26.9429 32.3026 25.5003 31.6731L16.8447 25.0371L13.6973 23.5159L8.39911 21.7323C8.39911 21.7323 7.58602 21.4438 7.50727 20.8143C7.42868 20.1848 8.42536 19.8439 8.42536 19.8439L29.4871 11.5817C29.4871 11.5817 31.2182 10.8211 31.2182 12.0801Z"
                                        fill="white" />
                                    <path
                                        d="M16.1795 30.7788C16.1795 30.7788 15.9268 30.7551 15.612 29.7583C15.2973 28.7616 13.6974 23.5159 13.6974 23.5159L26.4183 15.4374C26.4183 15.4374 27.1528 14.9915 27.1266 15.4374C27.1266 15.4374 27.2576 15.516 26.8642 15.8832C26.4708 16.2505 16.871 24.8797 16.871 24.8797"
                                        fill="#D2E5F1" />
                                    <path
                                        d="M20.1635 27.5814L16.7399 30.7028C16.7399 30.7028 16.4723 30.9059 16.1794 30.7786L16.835 24.9805"
                                        fill="#B5CFE4" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_38_304">
                                        <rect width="42" height="42" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                    </td>
                </tr>
                <tr>
                    <td align=left style="vertical-align: center; padding: 5px 0 15px 30px;"><a
                            style="color: #fefefe; text-decoration:none; font-family: Tahoma" href="request@golden-pixel.kz">request@golden-pixel.kz</a></td>
                </tr>
            </table>
          </tr>
        </table>
        </tr>
    </table>
  </body>
</html>
