<?xml version="1.0" encoding="utf-8" ?>
<!--Заготовка конфигурации логов.-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="machineLayout"
          value="${longdate}|${machinename}|${appName}|${uppercase:${level}}|${aspnet-traceidentifier}|${logger}|${message}${newline}${exception:format=tostring:when=(level == LogLevel.Fatal || level == LogLevel.Error)}" />

  <variable name="humanLayout"
            value="${longdate}|${aspnet-traceidentifier}|${aspnet-user-id}|${uppercase:${level}}|${logger}|${message}${newline}${exception:format=tostring:when=(level == LogLevel.Fatal || level == LogLevel.Error)}" />

  <targets>

    <target xsi:type="File"
            name="file"
            encoding="utf-8"
            writeBom="true"
            autoFlush="false"
            fileName="c:\temp\nlog-AspNetCore-gp-${shortdate}.log"
            maxArchiveFiles="450"
            layout="${machineLayout}"/>

    <target xsi:type="ColoredConsole"
            name="lifetimeConsole"
            encoding="utf-8"
            useDefaultRowHighlightingRules="true"
            layout="${humanLayout}" />
  </targets>

  <rules>
    <logger name="System.*" finalMinLevel="Warning" />
    <logger name="Microsoft.*" finalMinLevel="Warning" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="*" minlevel="Information" writeTo="lifetimeConsole" />
    <logger name="*" minlevel="Information" writeTo="File" />
  </rules>
</nlog>